NUXT_PUBLIC_ENV=""

NUXT_PUBLIC_API_1=""
NUXT_PUBLIC_API_2=""
NUXT_PUBLIC_API_KEY=""

NUXT_PUBLIC_URLS_LRS=""
NUXT_PUBLIC_URLS_AUTH="" # todo: old, should maybe remove later - loic
NUXT_PUBLIC_URLS_COORDINATOR=""
NUXT_PUBLIC_URLS_FACILITATE=""
NUXT_PUBLIC_URLS_COACH=""
NUXT_PUBLIC_URLS_MANAGE=""
NUXT_PUBLIC_URLS_EXECUTE=""
NUXT_PUBLIC_URLS_DEVELOP=""
NUXT_PUBLIC_URLS_QIGU_PLAY=""
NUXT_PUBLIC_URLS_QIGU_MEET=""
NUXT_PUBLIC_URLS_QIGU_CHECK=""
NUXT_PUBLIC_URLS_QIGU_RATE=""

NUXT_PUBLIC_PLATFORM=""

NUXT_PUBLIC_DAILYMOTION_KEY=""
NUXT_PUBLIC_DAILYMOTION_SECRET=""

NUXT_PUBLIC_BRAND_NAME=""

NUXT_PUBLIC_PUSHER_KEY=""
NUXT_PUBLIC_PUSHER_CLUSTER=""

APP_BASE_URL=""

NUXT_PUBLIC_CONTACTS_EMAIL=""
NUXT_PUBLIC_CONTACTS_DTO=""
NUXT_PUBLIC_CONTACTS_DPO=""
